$color-primary: hsl(25, 97%, 53%);
$color-white: hsl(0, 0%, 100%);
$color-lightGrey: hsl(217, 12%, 63%);
$color-mediumGrey:hsl(216, 12%, 54%);
$color-blue: hsl(213, 19%, 18%);
$color-bg-blue: hsl(213, 19%, 25%);
$color-darkBlue: hsl(216, 12%, 8%);